body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0ff; /* Color azul clarito */
    min-height: 100vh; /* Hace que el cuerpo ocupe al menos el 100% de la altura de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
}

header {
    text-align: center;
    background-color: #007bff; /* Color azul más oscuro para el encabezado */
    color: white;
    padding: 20px 0;
    width: 100%; /* Ancho del 100% para que abarque toda la pantalla */
}

header h1 {
    margin: 0;
}

.container {
    flex-grow: 1; /* Hace que el contenido crezca para ocupar el espacio disponible */
    text-align: center;
    padding: 20px;
    width: 100%; /* Ancho del 100% para que abarque toda la pantalla */
}

footer {
    text-align: center;
    background-color: #007bff; /* Color azul más oscuro para el pie de página */
    color: white;
    padding: 10px 0;
    width: 100%; /* Ancho del 100% para que abarque toda la pantalla */
    position: absolute;
    bottom: 0; /* Fija el footer en la parte inferior de la pantalla */
}

/* Estilos específicos para el párrafo del pie de página */
footer p {
    margin: 0;
}

.board {
    display: flex;
    flex-direction: column; /* Apila las filas verticalmente */
    align-items: center; /* Centra horizontalmente las filas */
    margin: 20px 0; /* Margen superior e inferior */
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    font-size: 18px;
    background-color: #ddd; /* Color de fondo de las celdas */
}
